<div class="title-container">
    <h1 class="title">
        Book Your Barber
    </h1>
    
    <div class="subtitle">
        Great Hair Doesn't Happen By Chance. It Happens By Appointment!
    </div>
    <div class="subtitle">
        So, Don't Wait And Book Your Appointment Now!
    </div>
</div>

<div class="image">
    <div class="image-container">
        <img src="/assets/image.jpg"/>
    </div>
</div>

<div class="form-container">
    <app-barber-booking-form></app-barber-booking-form>
</div>